/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* FONTS */

@font-face {
   font-family: 'Public Sans';
   font-display: swap;
   font-style: normal;
   font-weight: 100;
   src: url('../fonts/public-sans-v14-latin-100.woff2') format('woff2'),
   url('../fonts/public-sans-v14-latin-100.woff') format('woff');
}

@font-face {
   font-family: 'Public Sans';
   font-display: swap;
   font-style: normal;
   font-weight: 400;
   src: url('../fonts/public-sans-v14-latin-regular.woff2') format('woff2'),
   url('../fonts/public-sans-v14-latin-regular.woff') format('woff');
}

@font-face {
   font-family: 'Public Sans';
   font-display: swap;
   font-style: normal;
   font-weight: 500;
   src: url('../fonts/public-sans-v14-latin-500.woff2') format('woff2'),
   url('../fonts/public-sans-v14-latin-500.woff') format('woff');
}

/* VARIABLES */

:root {
   --gray : #9597A5;
   --dark-blue: #2D314D;
   --green: #30C88F;
}

/* GENERAL */

*,
*::before,
*::after {
   -webkit-box-sizing: inherit;
   box-sizing: inherit;
}

html {
   height: 100%;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   height: 100%;
   margin: 0;
   padding: 0;
   font-family: "Public Sans", "Arial", sans-serif;
   overflow-x: hidden;
}

img {
   display: block;
   height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   font-weight: 100;
   color: var(--dark-blue);
}

p {
   margin: 0;
   color: var(--gray);
}

ul,
ol {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.link {
   font-weight: 500;
   font-size: 14px;
   line-height: 28px;
   padding: 8px 36px 8px 33px;
   color: #FFFFFF;
   border-radius: 22px;
   background-image: -o-linear-gradient(315deg, #33D35E 0%, #2AB6D9 99.58%);
   background-image: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
   display: inline-block;
   text-decoration: none;
}

.link:hover {
   opacity: 0.9;
}

.link:active {
   opacity: 0.7;
}

/* CONTAINER */

.container {
   width: 1150px;
   margin-right: auto;
   margin-left: auto;
   padding-right: 20px;
   padding-left: 20px;
}

/* VISUALLY-HIDDEN */

.visually-hidden  {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   border: 0;
   white-space: nowrap;
   -webkit-clip-path: inset(100%);
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/* STICKY-FOOTER */

.site-main {
   -webkit-box-flex: 1;
   -ms-flex-positive: 1;
   flex-grow: 1;
}

/* SITE-HEADER START */

.site-header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   width: 100%;
   background-color: #FFFFFF;
}

.site-header__inner {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.nav__list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.nav__item {
   position: relative;
   padding: 33px 0 31px 0;
}

.nav__item:not(:last-child) {
   margin-right: 30px;
}

.nav__link {
   font-size: 14px;
   line-height: 16px;
   letter-spacing: -0.107692px;
   color: var(--gray);
   text-decoration: none;
}

.nav__link::after {
   position: absolute;
   bottom: 0;
   left: 0;
   display: none;
   width: 100%;
   height: 4px;
   background-image: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
   content: "";
}

.nav__link:hover {
   color: var(--dark-blue);
}

.nav__link:hover::after {
   display: block;
}

/* HERO START */
.hero {
   position: relative;
   padding-top: 170px;
   padding-bottom: 170px;
   background-color: #FAFAFA;
}

.hero__inner {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.hero__info-wrapper {
   width: 447px;
}

.hero__heading {
   font-size: 56px;
   line-height: 64px;
   letter-spacing: -1px;
   margin-bottom: 24px;
}

.hero__desc {
   font-size: 18px;
   line-height: 28px;
   letter-spacing: -0.28125px;
   margin-bottom: 36px;
}

.hero__bg-img {
   position: absolute;
   top: calc(50% - 490px);
   right: calc(50% - 1220px);
   width: 1371px;
   height: 1038px;
   background-image: url("../images/hero-bg.png");
   background-repeat: no-repeat;
   background-size: contain;
}

/* CONTACT START */
.contact {
   padding-top: 96px;
   padding-bottom: 94px;
   background-color: #F4F5F7;
}

.contact__text-wrapper {
   width: 635px;
   margin-bottom: 72px;
}

.contact__heading {
   font-size: 40px;
   line-height: 64px;
   letter-spacing: -0.714286px;
   margin-bottom: 16px;
}

.contact__text {
   font-size: 18px;
   line-height: 28px;
   letter-spacing: -0.28125px;
}

.contact__list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.contact__item {
   width: 255px;
}

.contact__item::before {
   content: "";
   display: inline-block;
   width: 72px;
   height: 72px;
   margin-bottom: 40px;
   background-repeat: no-repeat;
   background-size: contain;
}

.contact__item:nth-child(1):before {
   background-image: url("../images/banking.svg");
}

.contact__item:nth-child(2):before {
   background-image: url("../images/budgeting.svg");
}

.contact__item:nth-child(3):before {
   background-image: url("../images/onboarding.svg");
}

.contact__item:nth-child(4):before {
   background-image: url("../images/API.svg");
}

.contact__item-heading {
   font-size: 24px;
   line-height: 28px;
   letter-spacing: -0.428571px;
   margin-bottom: 26px;
}

.contact-item-desc {
   line-height: 26px;
   letter-spacing: -0.25px;
}

/* BLOG START */
.blog {
   padding-top: 80px;
   padding-bottom: 80px;
   background-color: #FAFAFA;
}

.blog__heading {
   font-size: 40px;
   line-height: 64px;
   letter-spacing: -0.714286px;
   margin-bottom: 40px;
}

.blog__list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.blog__item {
   width: 255px;
   border-radius: 5px;
}

.blog__item::before {
   content: "";
   display: inline-block;
   width: 255px;
   height: 200px;
   margin-bottom: 25px;
   background-repeat: no-repeat;
}

.blog__item:nth-child(1):before {
   background-image: url("../images/money.jpg");
}

.blog__item:nth-child(2):before {
   background-image: url("../images/food.jpg");
}

.blog__item:nth-child(3):before {
   background-image: url("../images/plain-wing.jpg");
}

.blog__item:nth-child(4):before {
   background-image: url("../images/beta.jpg");
}

.blog__item-img {
   margin-bottom: 25px;
}

.blog__item-span {
   display: inline-block;
   font-size: 10px;
   line-height: 18px;
   letter-spacing: -0.15625px;
   color: var(--gray);
   margin-bottom: 8px;
}

.blog__item-heading {
   line-height: 20px;
   letter-spacing: -0.285714px;
   margin-bottom: 8px;
   cursor: pointer;
}

.blog__item-heading:hover {
   color: var(--green);
}

.blog__item-heading:active {
   opacity: 0.6;
}

.blog__desc {
   font-size: 13px;
   line-height: 18px;
   letter-spacing: -0.203125px;
}

/* SITE-FOOTER START */
.site-footer {
   padding-top: 48px;
   padding-bottom: 48px;
   background-color: var(--dark-blue);
}

.site-footer__inner {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.site-footer__logo {
   display: inline-block;
   margin-bottom: 55px;
}

.site-footer__apps-list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.site-footer__apps-item:not(:last-child) {
   margin-right: 13px;
}

.site-footer__apps-link {
   color: #FFFFFF;
   text-decoration: none;
}

.site-footer__apps-link:hover {
   color: var(--green);
}

.site-footer__middle-links {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.site-footer__middle-list:first-child {
   margin-right: 100px;
}

.site-footer__middle-item:nth-child(2) {
   margin-top: 8px;
   margin-bottom: 8px;
}

.site-footer__middle-link {
   font-size: 15px;
   line-height: 26px;
   letter-spacing: -0.234375px;
   color: #FFFFFF;
   text-decoration: none;
}

.site-footer__middle-link:hover {
   color: var(--green);
}

.site-footer__end {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: end;
   -ms-flex-align: end;
   align-items: flex-end;
}

.site-footer__end-desc {
   margin-top: 24px;
}