/* FONTS */

@font-face {
   font-family: 'Public Sans';
   font-display: swap;
   font-style: normal;
   font-weight: 100;
   src: url('../fonts/public-sans-v14-latin-100.woff2') format('woff2'),
   url('../fonts/public-sans-v14-latin-100.woff') format('woff');
}

@font-face {
   font-family: 'Public Sans';
   font-display: swap;
   font-style: normal;
   font-weight: 400;
   src: url('../fonts/public-sans-v14-latin-regular.woff2') format('woff2'),
   url('../fonts/public-sans-v14-latin-regular.woff') format('woff');
}

@font-face {
   font-family: 'Public Sans';
   font-display: swap;
   font-style: normal;
   font-weight: 500;
   src: url('../fonts/public-sans-v14-latin-500.woff2') format('woff2'),
   url('../fonts/public-sans-v14-latin-500.woff') format('woff');
}

/* VARIABLES */

:root {
   --gray : #9597A5;
   --dark-blue: #2D314D;
   --green: #30C88F;
}

/* GENERAL */

*,
*::before,
*::after {
   box-sizing: inherit;
}

html {
   height: 100%;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body {
   display: flex;
   flex-direction: column;
   height: 100%;
   margin: 0;
   padding: 0;
   font-family: "Public Sans", "Arial", sans-serif;
}

img {
   display: block;
   height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   font-weight: 100;
   color: var(--dark-blue);
}

p {
   margin: 0;
   color: var(--gray);
}

ul,
ol {
   list-style-type: none;
}

/* CONTAINER */

.container {
   width: 1150px;
   margin-right: auto;
   margin-left: auto;
   padding-right: 20px;
   padding-left: 20px;
}

/* VISUALLY-HIDDEN */

.visually-hidden  {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   border: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/* STICKY-FOOTER */

.site-main {
   flex-grow: 1;
}

/* SITE-HEADER START */

.site-header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   width: 100%;
   background-color: #FFFFFF;
}

.site-header__inner {
   padding-top: 18px;
   padding-bottom: 18px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.nav__list {
   display: flex;
   align-items: center;
}

.nav__item:not(:last-child) {
   margin-right: 30px;
}

.nav__link {
   font-size: 14px;
   line-height: 16px;
   letter-spacing: -0.107692px;
   padding-bottom: 28px;
   color: var(--gray);
   text-decoration: none;
   transition: all 0.2s ease;
}

.nav__link:hover {
   color: var(--dark-blue);
   border-bottom: 4px solid var(--green);
}

.site-header__link {
   font-weight: 500;
   font-size: 14px;
   line-height: 28px;
   padding: 8px 36px 8px 33px;
   color: #FFFFFF;
   border-radius: 22px;
   background-image: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
   display: inline-block;
   text-decoration: none;
}

.site-header__link:hover {
   opacity: 0.7;
}